/Berilgan_Nuqtaning_Sinfini_Aniqlash/bin
/Berilgan_Nuqtaning_Sinfini_Aniqlash/obj
/Intelekt_Infrastructure/bin
/Intelekt_Infrastructure/obj
/Klasterlash/bin
/Klasterlash/obj
/Klasterlash_Berilgan_Masofa_Bo'yicha/bin
/Klasterlash_Berilgan_Masofa_Bo'yicha/obj
/Klasterlash_Yaqin_Masofa_Boyicha/bin
/Klasterlash_Yaqin_Masofa_Boyicha/obj
/Intelektual_Tizimlar/bin
/Intelektual_Tizimlar/obj
